<div class = "search-box">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" [formControl]="searchControl">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="textSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class = "card-container">
    <mat-card class="example-card" *ngFor="let item of allCustomers">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.fullname}}</mat-card-title>
            <div class="updateBtn">
              <button [routerLink]="['/update',item.id]" aria-label="Update customer" class="card-update">
                <mat-icon>edit_square</mat-icon>
              </button>
            </div>
        </mat-card-header>
        <div>
            <img *ngIf="checkGender(item.gender) == true" mat-card-image alt = "mele-avatar" class = "customer-img" src="https://www.clker.com/cliparts/c/4/0/e/1197115544208915882acspike_male_user_icon.svg.hi.png">
            <img *ngIf="checkGender(item.gender) == false" mat-card-image alt = "femele-avatar" class = "customer-img" src="https://th.bing.com/th/id/OIP.zwatOykTAu3SszrJ7fDB3gHaHa?pid=ImgDet&rs=1">
            <mat-card-content>
              <p>{{item.address}}</p>
            </mat-card-content>
            <a mat-button [routerLink]="['/detail',item.id]" color="primary">View details</a>
        </div>
    </mat-card>
</div>

<mat-paginator [length]="totalRecords"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [pageIndex]="pageIndex"
              (page)="paginatorEvent($event)"
              aria-label="Select page">
</mat-paginator>
