.mat-form-field {
    width: 300px;
}

.add-form {
    align-items: center;
    justify-content: center;
    display: table;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.add-btn{
   float:right;
}
